html {
    background-color:rgb(255, 241, 225);
}

nav {
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.navbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
    background: rgba(230, 209, 183, 0.658);
    opacity: 85%;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 2px rgb(233, 206, 176);

}
.navbar .country{
    padding: 10px;
}
a {
    color: rgb(50, 175, 206)
}

.logo {
    width: 300px;
    padding: 0;
    margin: 0;
}

.countryimg {
    width: 400px;
    box-shadow: 1px 1px 3px 2px rgb(233, 206, 176);
    border-radius: 10px;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: rgb(50, 175, 206);
    text-shadow: 1px 1px 1px #00aeffda;
}

.boxes {
    display: flex;
    flex-direction: row;
    color: rgb(50, 175, 206);
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 15px; 
    color: rgb(50, 175, 206);
    margin-bottom: 0;
    padding-bottom: 0;

}

.city{
    background: rgba(230, 209, 183, 0.658);
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    margin: 10px;
    box-shadow: 1px 1px 3px 2px rgb(233, 206, 176);
}

.landmark{
    background: rgba(230, 209, 183, 0.658);
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    margin: 10px;
    box-shadow: 1px 1px 3px 2px rgb(233, 206, 176);
}

.citizen {
    background: rgba(230, 209, 183, 0.658);
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    margin: 10px;
    box-shadow: 1px 1px 3px 2px rgb(233, 206, 176);
}

.parts {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 2px;
    margin-top: 1px;
    justify-content: flex-start;
    text: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    display: flex;
    margin-top: 100px;
}